@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --foreground: #072635;
  --background: #F6F7F8;
}


body {
  color: var(--foreground);
  background:  var(--background) ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
